
/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/*my way nav*/
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    background-color: #000;
}


.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a,i {
    color: #FF00BF;
    font-weight: 600;
    font-size: 1.5em;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        background: transparent;
    }
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/urban_arch_bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/candlesticks.jpg) no-repeat center center scroll;
    background-size:cover;
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5);
}

/* Portfolio */

.text-center h2 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    color: #fff;
}

h2{
    color: #fff;
    font-size: 3em;
}

#gallery{
    position: relative;
    padding: 60px 0;
/*    background: url(../img/candlesticks.jpg) no-repeat center center scroll;
    background-size:cover;
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5);*/
    background-color: #585858;
    border-top:solid 2px #fff;

}

#gallery .portfolio-item .portfolio-link {
    padding-left: 60px;
    padding-bottom: 40px;
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#gallery .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 85%; 
    height: 85%;
    opacity: 0;
    background: rgba(236, 34, 112, 0.55);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#gallery .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#gallery .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.img-thumbnail{
  background: transparent;
  border:none;
}

.carousel h2{
    color: #333;
    font-size: 2.5em;
    font-weight: normal;
    padding-bottom: 30px;
}

.carousel-indicators li{
    border: 3px solid #FF00BF;
}

.carousel .slide_description{
    color: #333;
    padding-top: 50px;
}

.carousel-caption {
z-index: 10;
}

.carousel .carousel-inner img {
max-width: 75vh;
max-height: 75vh;
margin: auto;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.modal-footer{
  border-color: transparent;
}

.modal-header{
  border-color: transparent;
}

.item{
    overflow: auto;
}

/* Footer */

footer {
    padding: 200px 0;
/*    background-color: #585858;*/
    height: 400px;
    background: url(../img/subway_rail1.jpg) no-repeat center center scroll;
    background-size:cover;
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5);
    border-top:solid 2px #fff;
    border-bottom:solid 2px #fff;
}

footer li{
    color: #FF00BF;
}

footer a{
    color: #FF00BF;
}
 .footer-info{
    position: fixed;
    bottom: 0;
 }

/*about section*/
/*.modal-dialog .about-modal{
  max-width: 50% !important;
  height: 50%;
  margin: 0;
  padding: 0;
}

.modal-content .about-modal{
  height: auto;
  max-width: 50% !important;
  min-height: 50%;
  border-radius: 0;
}*/

 .modal.fade .modal-dialog-about {
    -webkit-transition: -webkit-transform .3s ease-out;
          -o-transition:      -o-transform .3s ease-out;

            transform: translate(0, -25%);
  }
 .modal.in .modal-dialog-about {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);

    overflow-y: auto;
  }
 .modal-dialog-about {
    position: relative;
    width: auto;

   }
  @media (min-width: 768px) {
    .modal-dialog-about {
       width: 600px;
       margin: 30px auto;
   }
}

.modal-content-about {
    position: relative;
    background-color: #fff;
    margin: 30px auto;
    }
.modal-content-about {
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
             box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }

.modal-content-about h2, h4, h5, p{
    text-align: center;
    color:  #333;
/*    color: #FF00BF;*/
}

.modal-body-about{
/*    padding-bottom: 10%;*/
    width: auto;
    height: auto;
    overflow: auto;
}


